.imageBox {
  display: flex;
  float: left;
  width: 40%;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.imageBox > img {
  border-radius: 12px;
}

.info {
  width: 60%;
  margin-left: 1%;
  height: 100%;
  padding: 2%;
  order: 2;
}

/* Text */
.head {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}
.address {
  font-weight: 500;
  font-size: 24px;
  margin-top: 4px;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 13px 48px;
  border-radius: 30px;
  background: #112854;
  position: absolute;
  right: 40px;
}
.button_text {
  height: 18px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: white;
}
.button:hover {
  cursor: pointer;
  transition: 0.8s;
  opacity: 0.85;
}

.arrow {
  height: 2px;
  width: 25px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 4px;
  margin-left: 15px;
  background: white;
}
.arrow:before,
.arrow:after {
  content: "";
  background: white;
  position: absolute;
  height: 2px;
  width: 10px;
  border-radius: 30%;
}
.arrow:before {
  right: -2px;
  bottom: -3px;
  transform: rotate(-45deg);
}
.arrow:after {
  right: -2px;
  top: -3px;
  transform: rotate(45deg);
}

.caption {
  margin-top: 0.5rem;
  font-weight: 500;
}

.investmentStructure {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 100%;
  padding: 1.5em 0 0 0;
}
.name, .value {
  color: #112854;
  padding: 1em 0;
  border-bottom: 1px solid #112854;
}
.name {
  font-weight: 600;
}

.content_b {
  max-width: 1307px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 2rem;
  position: relative;
}
.content_b:after {
  content: "";
  display: table;
  clear: both;
}

.aboutProperty {
  display: flex;
  flex-flow: column wrap;
}

.sub {
  height: 50px;
  font-weight: 600;
  font-size: 30px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  margin: 1.5em 0;
  line-height: 1.5em;
  white-space: pre-line;
}

/* Phone Screens */
@media screen and (max-width: 720px) {
  .imageBox {
    width: 100%;
    padding-top: 100px;
  }
  .info {
    width: 100%;
    padding: 0 0 80px 0;
  }
  .content_a, .content_b {
    padding: 0 80px;
  }
}
/* New Styles */
