@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.subheader {
  font-size: 20px;
  text-align: center;
  color: white
}

.label, .input {
  display: block;
}
.label {
  margin-top: 48px;
  font-size: 18px;
  line-height: 29px;
  color: white;
}
.input {
  border: 1px solid #28334a;
  height: 48px;
  width: 100%;
  margin-top: 8px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  padding-left: 16px;
  border-radius: 32px;
}


.button {
  display: flex;
  justify-content: center;
}
.button_text {
  margin-top: 52px;
  padding: 13px 48px;
  background: white;
  border: 0;
  border-radius: 30px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 800;
}
.button_text:hover {
  cursor: pointer;
  background: lightgray;
}

.pageLink {
  color: #F5BF54;
  margin-top: 16px;
  width: fit-content;
}
.pageLink:hover {
  color: #D29723;
  cursor: pointer
}

.signUpText {
  color: white;
  margin-top: 2.5em;
}
.signUpText span {
  color: #F5BF54;
}
.signUpText span:hover {
  color: #D29723;
  cursor: pointer
}