@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  max-width: 1212px;
  margin: auto;
  padding: 0 2rem;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.titleContainer {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 20px 0;
}

.title {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  min-width: 250px;
  margin: 10px auto;
  padding: 64px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.title:hover {
  transition: 0.4s;
  background-color: rgba(22, 155, 215, 0.2);
  cursor: pointer;
}

.personalContainer {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  background-color: white;
  margin: 64px auto;
}

.profileInfo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.contactInfo {
  display: flex;
  flex-flow: column wrap;
  margin-left: auto;
}

.profileImage {
  padding: 48px;
}
.profileImage > span {
  border-radius: 9999px;
}

.basicInfo {
  display: flex;
  flex-flow: column wrap;
  
}
.name {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
}
.verfied {
  background-color: white;
  padding: 0.5rem 1.5rem;
  margin-left: 16px;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid skyblue;
}
.signUpDate {
  font-size: 16px;
  padding-top: 16px;
  font-weight: 500;
}

.label {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 4px;
}
.email, .phone {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 8em 8px 0;
}

