@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.contactInfo {
  display: flex;
  flex-flow: column wrap;
  padding: 2em;
}

.profileImage {
  padding: 48px;
}
.profileImage > span {
  border-radius: 9999px;
}

.name {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}
.verfied {
  background-color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid skyblue;
}
.signUpDate {
  font-size: 16px;
  padding-top: 16px;
  font-weight: 500;
}

.label {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 4px;
}
.email, .phone {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  text-align: center;
}

@media (min-width: 960px) {
  .name {
    flex-direction: row;
  }
  .verfied {
    margin-left: 16px;
  }
  .contactInfo {
    margin-left: auto;
  }
  .email, .phone {
    padding: 8px 8em 8px 0;
    text-align: start;
  }
}