@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 200px 0 100px 0;
}

.sectionTitle {
  text-align: center;
  max-width: 1307px;
  margin: auto;
  width: 100%;
  padding-top: 0px;
}

.flexContainer {
  max-width: 1307px;
  margin: auto;
  padding-bottom: 200px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.info {
  box-sizing: border-box;
  position: relative;
  width: 30%;
  padding: 0px;
  margin: 100px 15px 0 15px;
}

/* Text */
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 0;
  color: #112854;
}

.imageContainer > span {
  border-radius: 20px 20px 0 0;
}

.propertyDetails {
  background: white;
  padding: 4px 1em 1em 1em;
  border-radius: 0px 0px 20px 20px;
  color: #112854;
}

.propertyDetails h3 {
  margin-top: 0.25em;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
}
.propertyDetails h4 {
  margin-top: 0.25em;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 18px;
}

.propertyDetails p {
  font-weight: 400;
  line-height: 1.4em;
}

.imageContainer {
  position: relative;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-weight: 700;
  height: 100%;
  width: 100%;
}

.propertyType {
  padding: 1rem;
  text-align: end;
}

.type {
  padding: 1rem;
  background: #0074db;
  border-radius: 8px;
  margin-bottom: 0.75rem;
  width: fit-content;
}

.position {
  padding: 1rem;
  background: #ef6464;
  border-radius: 8px;
  width: fit-content;
}

.progressValue {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  text-align: end;
}

.value {
  padding: 1rem;
  background: #1abc9c;
  border-radius: 8px;
  width: fit-content;
}

.propertyButton {
  background: #CDCDCD;
  color: #112854;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
  user-select: none;
}
.propertyButton:hover {
  transition: 0.3s;
  background: #112854;
  color: white;
}

.propertyClosed {
  background: #CDCDCD;
  color: #112854;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  font-weight: 800;
  user-select: none;
}

.bottomBorder {
  border-bottom: 1px solid black;
}


/* Phone Screens */
@media screen and (max-width: 720px) {
  .info {
    width: 100%;
    margin: 100px 0 0 0;
    padding: 0 100px;
  }
}