@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* Clear floats */
.container:after {
  content: "";
  display: table;
  clear: both;
}

.footerBar {
  display: flex;
  flex-direction: row;
  max-width: 1307px;
  margin: 2em auto;
}

.copy {
  box-sizing: border-box;
  margin-bottom: 100px;
  padding: 0 32px;
  text-align: start;
}

.iconButton {
  padding: 0.5em 0.5em 0.4em 0.5em;
  width: fit-content;
  margin: auto;
  border-radius: 12px;
}
.socialMediaButton {
  width: fit-content;
  padding: 0.5em 0.5em 0.4em 0.5em;
  border-radius: 12px;
  margin-left: 12px;
  margin-top: 0.5em;
}
.iconButton:hover,
.socialMediaButton:hover {
  background-color: rgba(173, 216, 230, 0.5);
  cursor: pointer;
}

.contact {
  padding: 0 32px;
}

.contactRow {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
  justify-content: flex-end;
  align-items: center;
}
.contactText {
  padding-right: 1em;
}

.copy,
.toc,
.contact {
  width: 33.333333%;
}

.bottomTitle {
  font-weight: 500;
  font-size: 24px;
  color: #112854;
}
.bottomLinks {
  font-weight: 400;
  font-size: 16px;
  color: darkgray;
  display: inline-block;
  padding-top: 0.5em;
}
.link {
  display: inline-block;
  padding-left: 1.5em;
  cursor: pointer;
}

.floatingModal {
  width: fit-content;
  margin: auto;
}

.modalBlock {
  position: relative;
}

.modalText {
  position: absolute;
  bottom: 50px;
  left: -625px;
  padding: 32px;
  background-color: white;
  min-width: 1307px;
  border-radius: 20px;
  font-weight: 600;
}

/* Phone Screens */
@media screen and (max-width: 720px) {
  .copy {
    padding-left: 50px;
  }
}
