@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.banner {
  box-sizing: border-box;
  background: #112854;
  font-family: "Montserrat", sans-serif;
}
.banner:after {
  content: "";
  display: table;
  clear: both;
}

.bannerContent {
  max-width: 1307px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 2rem;
}

.info {
  float: left;
  box-sizing: border-box;
  width: 60%;
  height: 740px;
  padding: 200px 0px 200px 50px;
  order: 2;
  color: white;
}
.imageBox {
  display: flex;
  justify-content: center;
  float: right;
  box-sizing: border-box;
  width: 60%;
  height: 740px;
  padding: 10px 50px;
  order: 1;
}

/* Text */
.head {
  font-weight: 700;
  font-size: 50px;
}
.main {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 2.5em;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 13px 48px;
  background: white;
  border-radius: 30px;
}
.button_text {
  height: 18px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: #112854;
}
.button:hover {
  cursor: pointer;
  background: lightgray;
}

/* Phone Screens */
@media screen and (max-width: 720px) {
  .info {
    width: 100%;
    padding: 200px 50px;
    height: fit-content;
  }
  .imageBox {
    width: 100%;
    padding: 0;
    height: fit-content;
  }
}
