@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.section {
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 100px 0;
}
.section:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1307px;
  margin: auto;
  box-sizing: border-box;
  background: #112854;
  padding: 0 6em;
  border-radius: 30px;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.info {
  box-sizing: border-box;
  width: 100%;
  padding: 100px 0px 25px 0px;
  color: white;
  text-align: center;
}

/* Text */
.head {
  font-weight: 700;
  font-size: 48px;
}
.main {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 2.5em;
}

.howItWorks {
  max-width: 500px;
  height: 730px;
  background-color: #F8F7F6;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 100px;
}

.stepCards {
  padding: 50px;
  height: 750px;
  display: flex;
  flex-flow: column;
}
.stepHeading {
  font-weight: 600;
  font-size: 32px;
  flex: 0 1 auto;
}
.stepImage {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 50px 0;
  flex: 0 1 auto;
}
.stepInfo {
  font-weight: 400;
  font-size: 20px;
  flex: 0 1 auto;
}

.box {
  box-sizing: border-box;
  flex: 1 1 auto;
  position: relative;
}
/* Buttons */
.prevButton {
  padding: 20px 12px;
  background: #F8F7F6;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  user-select: none;
}
.nextButton {
  padding: 20px 12px;
  background: #F8F7F6;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  user-select: none;
}
.button_text_one {
  height: 18px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #D18B49;
}
.button_text_two {
  height: 18px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #542F13;
}
.button_text_three {
  height: 18px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #C4C8CB;
}