@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  max-width: 1600px;
  margin: auto;
  padding: 0 2rem;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 3em 0 2em;
}

.portfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 24px;
  background-color: white;
  margin: 15px auto;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1em 3em;
  font-weight: 700;
  font-size: 16px;
  justify-content: flex-end;
}
.header div {
  min-width: 200px;
  text-align: center;
  border-left: 1px solid black;
}
.lastHeader {
  border-right: 1px solid black;
}

.list {
  display: contents;
}

.sort {
  display: flex;
  flex-direction: row;
}