@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  max-width: 1212px;
  margin: auto;
  padding: 0 2rem;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 3em 0 2em;
}

.portfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 24px;
  background-color: white;
  margin: 64px auto;
}

.activity {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2em 3em;
  align-items: center;
  border-top: 1px solid lightblue;
  user-select: none;
}
.activity:last-child {
  border-radius: 0 0 24px 24px;
}
.activity:hover {
  background-color: rgba(173, 216, 230, 0.5);
  border-radius: 0 0 24px 24px;
  cursor: pointer;
}

.pImage > span {
  border-radius: 12px;
}

.pDetails {
  display:flex;
  flex-direction: column;
  padding-left: 1.5em;
}

.pName {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.pName:hover {
  color: #169bd7;
}
.pAddress {
  font-size: 18px;
  margin-right: 1.5rem;
}

.pInvestment {
  margin-left: auto;
  font-size: 20px;
}
.pIRR {
  margin-left: 4em;
  font-size: 20px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2em 3em;
  font-weight: 700;
}
.header div, .pInvestment, .pIRR {
  min-width: 180px;
  max-width: 180px;
  text-align: end;
}

.accordian {
  display: contents;
}

.accordianBlock {
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.label {
  font-weight: 700;
  font-size: 20px;
  color: #112854;
}
.pROI {
  font-size: 28px;
}

.future {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 4em;
}

.info {
  box-sizing: border-box;
  min-width: 33%;
  text-align: center;
}

.value {
  font-weight: 600;
  font-size: 32px;
  line-height: 0;
  color: #112854;
}
.detail {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 2.5em;
  color: darkgray;
}

.sectionTitle {
  text-align: center;
  width: 100%;
  padding-top: 1em;
}

.subTitle {
  font-weight: 700;
  font-size: 20px;
  color: #112854;
}

.links {
  display: flex;
  width: 100%;
  border-radius: 12px;
  background-color: white;
  margin: 0 auto;
  flex-flow: row wrap;
  padding: 48px 100px;
  justify-content: center;
}

.link {
  display: flex;
  width: 40%;
  margin: auto;
  border: 1px solid black;
  border-radius: 12px;
  padding: 28px 48px;
  margin: 12px auto;
  font-size: 16px;
  align-items: center;
}

.link:hover {
  cursor: pointer;
  background: lightgray;
  border: 2px solid black;
}

.linkArrow {
  display: flex;
  flex-flow: column wrap;
  margin-left: auto;
}