@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.sectionTitle {
  text-align: center;
  max-width: 1307px;
  margin: auto;
  width: 100%;
  padding-top: 100px;
}

.flexContainer {
  max-width: 1307px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}

.info {
  box-sizing: border-box;
  width: 25%;
  padding: 100px 0px 200px 0;
  text-align: center;
}

/* Text */
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 0;
  color: #112854;
}
.value {
  font-weight: 600;
  font-size: 32px;
  line-height: 0;
  color: #112854;
}
.detail {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 2.5em;
  color: darkgray;
}